@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');



article hr {
	background:#12F1A9;
	height:5px;
	border:none;
}
.hr{
    background:#12F1A9;
	height:10px;
	border:none;
}
.article {
    background: #5ab2e5;
	padding:20px;
	margin:20px 0;
	color:#fff;
    box-shadow:0 5px 5px 3px rgba(82, 104, 112, 0.9);
    border-radius: 10px;  
    
}
.imgc{
    width: 180px;
    height: 150px;
    border: black   solid 5px;
}
.contenedorr {
	max-width:900px;
	margin:auto;
}
.contenedorrr{
	max-width:900px;
    margin:auto;
}
.hr{
    background:hsl(161, 89%, 51%);
	height:5px;
	border:none;
}
.direccionPersonal{
        clear:both;
        padding:10px;   
        width: 150px;
        margin-right:2%;
        margin-top:30px;
        border-radius:5px;
        font-family: "Open Sans",sans-serif;
        bottom:5px;
        font-size: 1em;
        background: -webkit-linear-gradient(top,#18ced4,#0ac8e1);
        background: -moz-linear-gradient(top,#0ac8e1,#0ac8e1);
        background: linear-gradient(top,#0ac8e1,#0ac8e1);
        text-shadow:3px 3px 3px rgb(17, 19, 18);
        box-shadow: 3px 3px 3px rgb(12, 12, 12);
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        border-radius: 5px;
        border: 2px solid #000000;
}
header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
   /* modificar contenedor */
.container {
	max-width: 450px;
	height: auto;
	background-color: #EFEFEF;
	margin: 5% auto;
	padding-bottom: 1rem;
	
}
    /*majen de color naranga parte superiro */
.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #21DEA3;
	margin-bottom: 1rem;
}
/* estilo de letra de los h2*/
.form__top h2 {
	font-weight: bold;
	color: #CAC8C8;
	font-size: 18px;
}
/* estilo letra span*/
h2 span {
	color: #21DEA3;
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.input, .btn__submit, .btn__reset{
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}
/*color de linea que aparece debajo de cada registro */ 
.input:focus {
	border-bottom: solid #21DEA3 .2rem;
}

.btn__submit, .btn__reset {
	width: 50%;
    border-bottom: none;
    margin:5px;
	background-color: #31B1E5;
	color: white;
}
/* color de boton de limpiar */
.btn__reset {
	background-color: #EDA135;
}
  /* color de boton registro*/
.btn__submit:hover {
	background-color: #4C9ED9;
}

.btn__reset:hover{
	background-color: #FA9535;
}
.Meta{
	padding-top: 20PX;
	width:100%;
	height:200px;
}