@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.contenedor {
    width: 98%;
    margin: auto;
}
h1 {
    float: center;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
}


header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
.Meta{
	padding-top: 20PX;
	width:100%;
	height:200px;
}
.calif{
    width: 80%;
    overflow: hidden;
    height: auto;
    min-height: 100px;
    padding-top: 2%;
    margin-left: 10%;
    margin-top: 20px;
    border-radius: 20px;
    color: white;
    background: #20703f;
}
@media (max-width:768px) { 
    .calif {
        margin-top:20px;
    }
}
#row{
    margin:40px;
    height: auto;
    width: 80%;
    min-height: 200px;
    margin-left: 10%;
    float: center;
    background: #EFEFEF;
    border-radius: 20px;
    border: 5px solid black;
}
.radio{
    float: left;
    margin-left: 30px;
    text-align: right;

}
.radio h2{
    text-align: left;
}