@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.contenedor {
    width: 98%;
    margin: auto;
}
h1 {
    float: center;
}
@media (max-width:768px) { 
    h1{
        font-size: 20px;
    }
}
header .contenedor {
    display: table;
}

section {
    width: 100%;
}


header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
.Meta{
	padding-top: 20PX;
	width:100%;
	height:200px;
}

#nombre{
    margin-top: 20px;

    max-width: 400px;
    margin-left: 38%;
    margin-bottom: 30px;
    border-radius: 20px;
    text-align: center;
}
@media (max-width:768px) { 
    #nombre{
        margin-left: 120px;
    }
}
.calif{
    width: 80%;
    overflow: hidden;
    height: auto;
    min-height: 200px;
    padding-top:3%;
    margin-left: 10%;
    margin-top: 60px;
    background: #20703f; 
    margin-bottom: 50px;
    overflow: hidden;
    box-shadow:0 5px 5px 3px rgba(34, 39, 41, 0.9);
    border-radius: 15px;  
    color: white;
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    overflow: hidden; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px;
    animation-duration: 3s;
    animation-name: slidein;
    margin-bottom: 25px;
}
@media (max-width:768px) { 
    .calif {
        margin-top:20px;
        min-height: auto;
    }
}
.calif2{
    width: 80%;
    overflow: hidden;
    height: auto;
    padding:5%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 5px;
    animation-duration: 3s;
    animation-name: slidein;
    margin-bottom: 25px;
}
#foto{
    width: 80%;
    margin-left:5%;
    height: auto;
    min-height: 300px;
    padding: 20px;
    margin-bottom: 50px;
    overflow: hidden;
    box-shadow:0 5px 5px 3px rgba(34, 39, 41, 0.9);
    border-radius: 15px;  
    color: #080808; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #20703f;
    overflow: hidden; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px;
}
@media (max-width:768px) { 
    #foto {
        margin-left:10%;
        height: auto;
        overflow: hidden;
    }
    #foto img{
    	width: 100%;
    	height: auto;
    	overflow: hidden;
    }
}
#foto img{
    width: 100%;
    height: auto;
    max-height:260px;
    overflow: hidden;
}

#row{
    margin:40px;
    height: auto;
    width: 80%;
    min-height: 200px;
    margin-left: 10%;
    float: center;
    background: #5ab2e5;
    border: 5px solid black;
}
.radio{
    float: left;
    margin-left: 30px;
    text-align: right;

}
.radio h2{
    text-align: left;
}

.invitamos{
    text-align: center;
    margin-bottom: 50px;
    color: white;

}
.google_canvas{
    height: 50vh;
    width: 50vh;
}
#carta{
    width: 45%;
    margin-left: 3%;
    min-height: 700px;
    background: #EFEFEF;
    float: left;
}
#carta img{
    margin-top: 20px;
    width: 90%;
    max-height: 300px;
    display: block;
}
@media (max-width:768px) { 
    #carta{
        width: 90%;
        margin-left: 3%;
        min-height: 700px;
        background: #EFEFEF;
        float: left;
    }
    #carta img{
        margin-top: 20px;
        width: 90%;
        max-height: 300px;
        display: block;
    }
}
.article hr {
    background:#12F1A9;
    height:5px;
    border:none;
    margin-right: 40px;
}
.hr{
    background:#12F1A9;
    height:10px;
    border:none;
    margin-right: 40px;
}
.btn-primary{
    width: 180px;
    height: 40px;
    display: block;
    background: linear-gradient(50deg, #000000,green);
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    transition: all 30ms;
    -webkit-box-shadow: -15px 10px 0px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: -15px 10px 0px 0px rgba(0,0,0,0.21);
    box-shadow: -15px 10px 0px 0px rgba(0,0,0,0.21);
    animation-duration: 3s;
    animation-name: slidein;
    margin-bottom: 25px;       
}

@keyframes slidein {
    from {
      margin-left: 80%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 75%;
    }
  }
