@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.container{
    margin-top:5%;
    margin-bottom: 5%;
}
.row{
    text-align: left;
}

article hr {
	background:#20703f;
	height:5px;
	border:none;
}
.hr{
    background:#20703f;
	height:10px;
	border:none;
}
article {
    background: #EFEFEF;
	padding:20px;
	margin:20px 0;
	color: black;
    box-shadow:0 5px 5px 3px rgba(82, 104, 112, 0.9);
    border-radius: 10px;  
    
}
.col-md-2{
    border-radius: 5px;
    min-height: 180px;
    overflow: hidden;
    color: white;
    background: #20703f;
}
@media (max-width:768px) { 
    .col-md-2{
        border-radius: 5px;
        min-height: auto;
        
    }
}