@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.contenedor {
    width: 98%;
    margin: auto;
}
h1 {
    float: center;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

   /* modificar contenedor */
.container {
	max-width: 450px;
	height: auto;
	background-color: #EFEFEF;
	margin: 5% auto;
	padding-bottom: 1rem;
	
}
    /*majen de color naranga parte superiro */
.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #20703f;;
	margin-bottom: 1rem;
}
/* estilo de letra de los h2*/
.form__top h2 {
	font-weight: bold;
	color: #CAC8C8;
	font-size: 18px;
}
/* estilo letra span*/
h2 span {
	color: #20703f;;
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.input, .btn__submit, .btn__reset{
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}
/*color de linea que aparece debajo de cada registro */ 
.input:focus {
	border-bottom: solid #20703f .2rem;
}

.btn__submit, .btn__reset {
	width: 50%;
    border-bottom: none;
    margin:5px;
	background-color: #31B1E5;
	color: white;
}
/* color de boton de limpiar */

  /* color de boton registro*/
.btn__submit:hover {
	background-color: #4C9ED9;
}

.btn__reset:hover{
	background-color: #FA9535;
}
.Meta{
	padding-top: 20PX;
	width:100%;
	height:200px;
}
.btn__submit{
	background: #20703f;
	color: white;
}
.btn__reset {
	background-color: #20703f;
}
