@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
}
main{
    width: 100%;
    overflow: hidden;
}
.navbar{
    background: #5ab2e5;
}

.contenedor {
    width: 98%;
    margin: auto;
}
.logo{
    height: auto;
}
.logo img{
    width: 200px;
    height: auto;
    float: left;
    margin-left: 10%;
    margin-top:10px;
    
  }
h1 {
    float: center;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*Menu*/


header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.direccion{
    width: 80%;
    margin-left:10%;
    margin-top:50px;
    height: auto;
    overflow: hidden;
}
.btn{
	margin:5px;
}
/* Playa Caracol*/

.InfoPlaya{
	width:100%;
  height:auto;
  overflow: hidden;
  min-height: 300px;
      margin-top: 50px;
    margin-bottom: 50px;
}

#contenidoPlaya{
	width:40%;
  height:auto;
  min-height: 300px;
	float:left;
}
#contenidoPlaya p{
  font-family:'Montserrat', sans-serif;
  text-align: left;
  margin: 10px;
}
.playaAside{
	width:60%;
	height:auto;
  float: right;
  min-height: 300px;
}

.playaAside a:hover{
    background: rgba(51,51,51,0.5);
    
}
.cajitasPlaya{
	width:60%;
	float:left;

}
.cajitasPlaya img{
	width:100%;
}

.cajitasgpsPlaya{
    width:35%;
    height: auto;
    max-height: 300px;
    float:left;
    padding-left: 10px;
    margin-bottom: 10px;
}
.gpsPlaya{
    width: 100%;    
    height: auto;
    min-height: 300px;
    float:left; 
}
.direccionPlaya{
    display: none;
}
@media screen and (max-width:1024px){
    
    .InfoPlaya{
        width:100%;
        height:auto;
        overflow: hidden;
        min-height: 300px;
    }
    .direccionPlaya{
        display: block;
        clear:both;
        float:right;
        padding:10px;   
        width: 150px;
        margin-right:2%;
        margin-top:30px;
        border-radius:5px;
        font-family: "Open Sans",sans-serif;
        bottom:5px;
        font-size: 1em;
        background: -webkit-linear-gradient(top,#0ac8e1,#0ac8e1);
        background: -moz-linear-gradient(top,#0ac8e1,#0ac8e1);
        background: linear-gradient(top,#0ac8e1,#0ac8e1);
        text-shadow:3px 3px 3px  #000000;
        box-shadow: 3px 3px 3px #000000;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        border-radius: 5px;
        border: 2px solid #000000;
    }

    #contenidoPlaya{
        width:100%;
        min-height:auto;
        float:left;
    }
    .playaAside{
        width:100%;
        height:auto;
    }

    .playaAside a:hover{
        background: rgba(51,51,51,0.5);
    }
    .cajitasPlaya{
        width:100%;
        float:left;
      padding:10px;
      margin: 10px;
    }
    .cajitasPlaya img{
        width:100%;
    }
    .cajitasgpsPlaya{
        display: none;
    }
}


/* */
.Meta{
	padding-top: 20PX;
	width:100%;
	height:200px;
}

.sociales {
    width: auto;
}
@media (min-width:768px) { 
    .sociales {
        width: auto;
    }
    

}


#info {
    margin-top: 20px;
    background: #5ab2e5;
    color: black;
    text-align: center;
    padding: 20px;
}

.creadores {
    text-align: left;
}
.foot{
    width: 100%;
    background: #5ab2e5;
}
.page-footer{
    width: 100%;
    background: #5ab2e5;
    height: 600px;


}
.logo2{
    width: 100%;
    height: auto;
    margin-bottom: 90px;
}
.logo2 img{
    width: 200px;
    height: auto;
    float: left;
    margin-left:10%;
    margin-top:10px;
}
#iz{
    margin-left:10%;
}
.redes{
    margin-top: 40px;
    float: left;
    margin-left: 10%;
}


