
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
}
main{
    width: 100%;
    overflow: hidden;
}
.logo{
    height: auto;
    padding-left: 10%;

}
.logo img{
    width: 200px;
    height: auto;
    float: left;
    margin-left: 10%;
    margin-top:10px;
  }
.collapse{
    margin-left: 15%;
}
@media (max-width:768px) { 
    .collapse{
        margin-left: 0%;
    }
}
header{
    background: #20703f;
}
.navbar-light .navbar-nav .nav-link{
    color: white !important;
}
.hov:hover{
    background: #04aa44;
}
.navbar-collapse{
    margin-right: 10%;
}
.tituloCont{
    margin-top:20px;
    padding-top: 30px;
    height: 100px;
    text-align: center;
    margin-bottom:20px;
    width: 100%;
    background: #20703f; 
}

.img{
    width:30px;
    height: 30px;
}
.card-img-top{
    width:140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-img-top1{
    width:250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: black 5px solid;
}
.carousel-caption{
    width: 30%;
}
.carousel-caption h5{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
#col1 h5{
    color: #20703f;
}
#bot{
    background: #20703f;
    width: auto;
}
.btn-primary{
    width: 180px;
    height: auto;
    display: block;
    background: linear-gradient(50deg, #000000,green);
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    transition: all 30ms;
    -webkit-box-shadow: -15px 10px 0px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: -15px 10px 0px 0px rgba(0,0,0,0.21);
    box-shadow: -15px 10px 0px 0px rgba(0,0,0,0.21);
    animation-duration: 3s;
    animation-name: slidein;
    margin-bottom: 25px;      
    font-family: 'Open Sans', sans-serif;
 
}

@keyframes slidein {
    from {
      margin-left: 80%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 75%;
    }
  }
.esc{
    display: none;
}
.creadores {
    text-align: left;
}
.foot{
    width: 100%;
    background: #383a41;
}
.page-footer{
    width: 100%;
    float: left;
    background: #383a41; 
    height: auto;
    color: white;
}
.logo2{
    width: 100%;
    height: auto;
    margin-bottom: 90px;
}
.logo2 img{
    width: 200px;
    height: auto;
    float: left;
    margin-left:10%;
    margin-top:10px;
}
#iz{
    margin-left:10%;
}
.redes{
    margin-top: 40px;
    float: left;
    margin-left: 10%;
}
.sociales {
    width: auto;
}
@media (max-width:768px) { 
    .sociales {
        width: auto;
    }
    .esc{
        display: block;
        margin: 10px;
    }
}
#info {
    background: #2946b1; 
    color: black;
    text-align: center;
    padding: 20px;
}

.creadores {
    margin: 20px;
    text-align: center;
}
.copy{
    text-align: left;
}

