@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    margin: auto;
    padding: 0;
}
body{
    width: 100%;
}
header{
    width: 80%;
    margin-top: 20px;
    min-height: 100px;
    overflow: hidden;
    border:solid 5px black;
}
header h1{
    margin-top:30px;
    margin-left: 10%;
    float: left;
    font-family: "Open Sans",sans-serif;
}
header h5{
    font-family: "Open Sans",sans-serif;
    float: right;
    padding-top: 80px;
}
#cuerpo{
    width: 80%;
    min-height: 500px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: solid 5px black;
    border-right: solid 5px black;
    border-bottom: solid 5px black;
}
#cuerpo h2{
    margin-top: 40px;
    font-size: 20px;
    width: 50%;
    margin-left: 10%;
    float: left;
    font-family: "Open Sans",sans-serif;

}
#cuerpo h3{
    font-size: 20px;
    margin-left: 10%;
    width: 50%;
    float: left;
    font-family: "Open Sans",sans-serif;

}
.agregar{
    font-family: "Open Sans",sans-serif;
    background: green;
    float: right;
    height: 50px;
    margin-right: 10%;
    border: solid 4px black;
    color:white;

}
.agregar:hover{
    background:greenyellow;
}
.creadores {
    text-align: left;
}
.foot{
    width: 100%;
    background: #5ab2e5;
}
.page-footer{
    width: 100%;
    background: #5ab2e5;
    height: 600px;


}
.logo2{
    width: 100%;
    height: auto;
    margin-bottom: 90px;
}
.logo2 img{
    width: 200px;
    height: auto;
    float: left;
    margin-left:10%;
    margin-top:10px;
}
#iz{
    margin-left:10%;
}
.redes{
    margin-top: 40px;
    float: left;
    margin-left: 10%;
}